.header {
  margin-top: 28px !important;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, #01c7eb, #02ddb2, #03f66f);
  background-size: 300% 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  height: 28px;
  z-index: 1000;
  animation: moveBg 4s linear infinite;
}

.top-bar span {
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  color: black;
  animation: moveTextHorizontal 10s linear infinite;
}

@keyframes moveTextHorizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes moveBgVertical {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.b-link:hover {
  transition: color 0.5s !important;
  color: #03f66f !important;
}

[data-testid="flowbite-dropdown"] {
  color: white;
  font-weight: bold;
  background: #171716;
  border: none;
  /* Add any other properties you want to override */
}
