.footer {
  background-image: linear-gradient(#0a0b0f, #021a2a);
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.footer-logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer-links div {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer-links h4 {
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.contact {
  text-align: left;
}

.contact p {
  margin: 5px 0;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #0073e6;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color: #0073e6;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-table {
  font-size: 14px;
  margin: 0px !important;
}

.footer-table-separator {
  padding: 0px 4px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  margin-top: -12px !important;
  width: 120px !important;
}

.footer-social-item {
  text-align: -webkit-center;
  min-width: 28px !important;
  width: 28px;
}
